/*About*/



main{
    
    .titulo{
        color: white;
        text-align: center;
        padding-top: 5rem;
    }
    .subtitulo{
        color: white;
    }
    p{
        width: 15rem;
    }
    
    .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5rem;
    }
    .contactarse{
        a{
            color: skyblue;
            &:hover{
                color: white;
            }
        }
    }
    .contactocarru{
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            font-size:2rem;
        }
    }
}