/*About*/

main{
    .titulo{
        color: white;
        text-align: center;
    }
    .subtitulo{
        color: white;
    }
    p{
        width: 15rem;
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    div{
        a{
            color: skyblue;
            &:hover{
                color: white;
            }
        }
    }
}