/*SERVICIOS*/

$color:black;

@mixin centerSpace{
    justify-content: space-between;
    align-items: center;
}

@mixin anclas{
    text-decoration: none;
    color: $color;
}

@mixin columna{
    flex-direction: column
}

main{
    a{
        @include anclas;
        &:hover{
            color: $color;
        }
    }
    
    .papa{
        @include centerSpace;
        @include columna;
        display: flex;
        margin-top: 4rem;
        gap: 1rem;
        .primario{
            gap: 3rem;
        }
        .secundario{
            gap: 3rem;
        }
    }
    .card{
        width: 13rem;
        height: 18rem;
        p{
            color: $color;
            width: 10rem;
        }
        
    }
    .superCaja{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        
    }
    .contactate{
        display: inline-block;
        margin: 30px;
        color: white;
        a{
            color: skyblue;
        }
    }
    ul{
        display: flex;
    }
    li{
        list-style: none;
    }
    padding-bottom: 5rem;
}

@media(max-width:720px){
    .secundario{
        display: none;
    }
    .primario{
        @include columna;
    }
    .superCaja{
        @include columna;
    }
    .contactate{
        text-align: center;
    }
}